@import url('https://fonts.googleapis.com/css?family=Bahiana|Open+Sans:300,400,600,700');

body {
	font-family: 'Open Sans', sans-serif; 
}
/*--header
========================--*/
.first-block {
	background: url(../img/bg/bg-first.jpg);
	color: #fff;
}
.header {
	background: rgba(0, 0, 0, 0.5);
	
}
.header-row {
	padding-top: 15px;
}
i {
	color: #93a12d;
}
.logo {
	font-family: 'Bahiana', cursive;
	font-size: 28px;
	color: #93a12d;
}
.logo p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: lighter;
	color: #fff; 
}
.logo i {
	font-size: 45px;
	padding-left: 5px;
    padding-right: 5px;
    color: #fff;
}
.phone, .adress, .grafik {
	text-align: center;
}
.phone i, .adress i, .grafik i {
	font-size: 35px;
	padding-bottom: 10px;
}
.adress p, .grafik p {
	font-size: 14px;
	font-weight: lighter;
	line-height: 21px;
}
.phone p {
	font-weight: lighter;
	line-height: 21px;
}

/*--Меню
========================--*/
.menu {
	padding-top: 10px;
}
.navbar-nav {
	margin: 0 auto;
}
#navbarNav li a {
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
}
#navbarNav li a:hover {
	color: #93a12d;
	transition: 0.5s;
}

#navbarNav i {
	font-size: 8px;
	line-height: 3.5;
	padding-left: 10px;
	padding-right: 10px;
}


/*-- Первый экран слайдер===
=============================*/
*, *:before, *:after {
  box-sizing: border-box;
}
.slider-height {
	height: 400px;
	margin-top: 40px;
    padding-bottom: 40px
}




.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #93a12d;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #93a12d, 0 0 0 0 rgba(147, 161, 45, 1);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.5s linear forwards;
          animation: check 0.5s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          /*align-items: center;*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.slider__caption {
  font-size: 38px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  padding-left: 380px;
}
.slider__txt {
 	font-size: 18px;
 	padding-left: 380px;
   
}
.slider__btn {
	padding-left: 380px;
}
.slider__btn a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	background: #93a12d;
	display: table;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
	
}
.slider__btn a:hover {
	background: #50580f;
	transition: 0.5s;
}
.bg__slide__1 {
	background: url(../img/main/sushi-min.png) no-repeat;
	background-position: left center;
	background-position-x: 30px; 
}
.bg__slide__2 {
	background: url(../img/main/pizza-min.png) no-repeat;
	background-position: left center;
	background-position-x: 30px;
}


@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}


/*--Категории
========================--*/
.second p {
	color: #333;
	font-size: 14px;
	margin-bottom: 0px;
}
.second li {
	width: 8.33333%;
}
.cat-eb a {
	text-align: center;
	background: #ebebeb;

}
.cat-e1 {
	text-align: center;
	background: #e1e1e1;
}
.category-img img {
	width: 100px;
	height: 80px;

}
.nav-link {
	padding: 0px !important;
}
.nav-link.active {
	border-color: #93a12d !important;
}
.category-title {
	background: #b7b7b7;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	height: 50px;
}
.tab-content {
	background: url(../img/bg/bg-category.jpg);
	border-top: #93a12d 15px solid;
	border-bottom: #93a12d 15px solid;
}
.category-container {
	margin-bottom: 20px;
}
.category-row {
	margin-top: 20px;
}
.category-description {
	display: flex;
}
.descripion-img {
	width: 160px;
	height: 130px;
	background: #fff;
	border-radius: 5px;
}
.descripion-img img {
	display: block;
	margin: 0 auto;
	padding: 10px;
}
.sushi-description {
	margin-left: 15px;
}
.sushi-description h4 {
	font-size: 16px;
	text-decoration: underline;
	color: #fff;
}
.sushi-description p {
	font-size: 12px;
	font-weight: lighter;
	color: #fff;
}
.sushi-description span {
	font-size: 16px;
	font-weight: normal;
}

/*Слайдер новинки====
===========================*/
.novinki-title {
	position: relative;
	margin-top: 20px;
    margin-bottom: 30px;
}
.bg-title {
	width: 50px;
    height: 130px;
    display: block;
    margin: 0 auto;
    border: #93a12d 2px solid
}
.novinki-title h2 {
	background: #fff;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    top: 60px;
}
.novinki-description h4 {
	font-size: 16px;
	text-decoration: underline;
	text-align: center;
}
.novinki-description p {
	font-size: 12px;
	text-align: center;
	padding-bottom: 15px;
}
.novinki-description span {
	font-size: 16px;
	font-weight: bolder;

}
.swiper-slide img {
	display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}
.swiper-wrapper {
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}
.swiper-button-next {
	background-image: url(../img/main/next-arrow.png) !important;
	width: 36px !important;
	background-size: 36px 36px !important;
}
.swiper-button-prev {
	background-image: url(../img/main/preview-arrow.png) !important;
	width: 36px !important;
	background-size: 36px 36px !important;
}

.three {
	height: 240px;
	background: url(../img/bg/bg-three.jpg);
	border-top: #93a12d 15px solid;
	border-bottom: #93a12d 15px solid;
}

.triger-rows {
	margin-bottom: 30px;
}
.triger-img i {
	font-size: 45px;
	text-align: center;
	display: block;
	padding-bottom: 25px;
}
.triger-img p {
	font-size: 14px;
	text-align: center;
}


/*слайдеер, отзывы===
===============================*/
.bg-title-rev-1 {
	width: 50px;
    display: block;
    margin: 0 auto;
    border: #93a12d 2px solid;
    height: 60px;
    border-bottom: none;
}
.bg-title-rev-2 {
	width: 50px;
    display: block;
    margin: 0 auto;
    border: #93a12d 2px solid;
    height: 30px;
    padding-top: 30px;
    margin-top: 35px;
    border-top: none;
}
.rev-title {
	padding-top: 50px;
}
.rev-title h2 {
	background: none;
	color: #fff;
	padding-top: 50px;
}
.reviews {
	background: url(../img/bg/bg-review.jpg) no-repeat;
	background-size: cover;
	height: 600px;
}
.autor-name, .date, .review p {
	color: #fff;
	text-align: center;
}
.autor-name {
	font-size: 18px;
	padding-top: 30px;
}
.date, .review p {
	font-size: 13px;
	font-weight: lighter;
}
.review p {
	
}
.review-block {
	padding: 10px;
	background: rgba(0, 0, 0, 0.5);
	height: 180px;
}
/*--footer---
---------------------*/
.footer {
	background: #000;
	height: 70px;
}
.footer p {
	color: #fff;
	font-size: 13px;
}
.footer i {
	font-size: 35px;
}
.footer a {
	text-decoration: none;
}
.footer-left p {
	padding-top: 25px;
	text-align: left;
}
.footer-right {


}
